<div class="main">
  <div class="container" [ngClass]="{'right-panel-active': mode === 'signUp'}">

    <!-- Sign Up -->
    <div class="container__form container--signup">
      <form class="form" id="form1" (ngSubmit)='register()' #signUpForm="ngForm">
        <h2 class="form__title">ثبت نام</h2>
        <input #firstname="ngModel" name="firstname" type="text" placeholder="نام" class="input"
          [(ngModel)]="registerModel.firstname" />
        <input #lastname="ngModel" name="lastname" type="text" placeholder="نام خانوادگی" class="input"
          [(ngModel)]="registerModel.lastname" />
        <input #username="ngModel" name="username" type="text" placeholder="نام کاربری" class="input"
          [(ngModel)]="registerModel.username" />
        <input #email="ngModel" name="email" type="email" placeholder="پست الکترونیک" class="input"
          [(ngModel)]="registerModel.email" />
        <input #password="ngModel" name="password" type="password" placeholder="گذرواژه" class="input"
          [(ngModel)]="registerModel.password" />
        <button class="btn" type="submit">ثبت نام</button>
      </form>
    </div>

    <!-- Sign In -->
    <div class="container__form container--signin">
      <form class="form" id="form2" (ngSubmit)='login()' #signInForm="ngForm">
        <h2 class="form__title">ورود به حساب کاربری</h2>
        <input #username="ngModel" name="username" type="text" placeholder="نام کاربری" class="input"
          [(ngModel)]="loginModel.username" />
        <input #password="ngModel" name="password" type="password" placeholder="گذرواژه" class="input"
          [(ngModel)]="loginModel.password" />
        <!-- <a href="#" class="link">فراموشی گذرواژه ؟</a> -->
        <button class="btn" type="submit">ورود به حساب کاربری</button>
      </form>
    </div>

    <!-- Overlay -->
    <div class="container__overlay">
      <div class="overlay">
        <div class="overlay__panel overlay--left">
          <button class="btn" id="signIn" (click)="setMode('signIn')">ورود به حساب کاربری</button>
        </div>
        <div class="overlay__panel overlay--right">
          <button class="btn" id="signUp" (click)="setMode('signUp')">ثبت نام</button>
        </div>
      </div>
    </div>
  </div>
</div>
