<div class="main">
  <div class="container" [ngClass]="{'right-panel-active': mode === 'signUp'}">

    <!-- Sign Up -->
    <div class="container__form container--signup">
      <form class="form" id="form1" (ngSubmit)='register();signUpForm.reset()' #signUpForm="ngForm"
        [appMatchPassword]="['password', 'CnfmPasswordVar']">
        <input #firstname="ngModel" name="firstname" type="text" placeholder="نام" class="input"
          [(ngModel)]="registerModel.firstname" required #firstname="ngModel" maxlength="25">
        <div [hidden]="firstname.valid || firstname.pristine" class="alert alert-danger">s
        </div>

        <input #lastname="ngModel" name="lastname" type="text" placeholder="نام خانوادگی" class="input"
          [(ngModel)]="registerModel.lastname" maxlength="25" required />


        <input #username="ngModel" name="username" type="text" placeholder="نام کاربری" class="input"
          [(ngModel)]="registerModel.username" maxlength="25" minlength="6" required />


        <input #email="ngModel" name="email" type="email" placeholder="پست الکترونیک" class="input"
          [(ngModel)]="registerModel.email" maxlength="25" minlength="6" required />

        <input #password="ngModel" name="password" type="password" placeholder="گذرواژه" class="input"
          [(ngModel)]="registerModel.password" minlength="6" required />

        <input class="input" id="CnfrmPasswordId" type="password" placeholder="تایید گذرواژه (required)" required
          appEqualControl="password" ngModel name="CnfmPasswordVar" appForbiddenName='bob' #CnfmPasswordVar="ngModel" />

        <button class="btn" type="submit" [disabled]="!signUpForm.valid">ثبت نام</button>
      </form>

    </div>
    <!-- Sign In -->
    <div class="container__form container--signin">
      <form class="form" id="form2" (ngSubmit)='login()' #signInForm="ngForm">
        <h2 class="form__title">ورود به حساب کاربری</h2>
        <input #username="ngModel" name="username" type="text" placeholder="نام کاربری" class="input"
          [(ngModel)]="loginModel.username" required />
        <input #password="ngModel" name="password" type="password" placeholder="گذرواژه" class="input"
          [(ngModel)]="loginModel.password" required />
        <!-- <a href="#" class="link">فراموشی گذرواژه ؟</a> -->
        <button class="btn" type="submit" [disabled]='signInForm.invalid'>ورود به حساب کاربری</button>
      </form>
    </div>

    <!-- Overlay -->
    <div class="container__overlay">
      <div class="overlay">
        <div class="overlay__panel overlay--left">
          <button class="btn" id="signIn" (click)="setMode('signIn')">ورود به حساب کاربری</button>
        </div>
        <div class="overlay__panel overlay--right">
          <button class="btn" id="signUp" (click)="setMode('signUp')">ثبت نام</button>
        </div>
      </div>
    </div>
  </div>
</div>
