<div class="main">
  <div class="container" [ngClass]="{'right-panel-active': mode === 'signUp'}">

    <!-- Sign Up -->
    <div class="container__form container--signup">
      <form class="form" id="form1" (ngSubmit)='register();signUpForm.reset()' #signUpForm="ngForm"
        [appMatchPassword]="['Password', 'CnfmPasswordVar']">
        <input #FirstName="ngModel" name="FirstName" type="text" placeholder="نام" class="input"
          [(ngModel)]="registerModel.FirstName" required #FirstName="ngModel" maxlength="25">
        <div [hidden]="FirstName.valid || FirstName.pristine" class="alert alert-danger">s
        </div>

        <input #LastName="ngModel" name="LastName" type="text" placeholder="نام خانوادگی" class="input"
          [(ngModel)]="registerModel.LastName" maxlength="25" required />


        <input #Username="ngModel" name="Username" type="text" placeholder="نام کاربری" class="input"
          [(ngModel)]="registerModel.Username" maxlength="25" minlength="6" required />


        <input #Email="ngModel" name="Email" type="Email" placeholder="پست الکترونیک" class="input"
          [(ngModel)]="registerModel.Email" maxlength="25" minlength="6" required />

        <input #PhoneNumber="ngModel" name="PhoneNumber" type="tel" placeholder="شماره تماس" class="input"
          [(ngModel)]="registerModel.PhoneNumber" maxlength="11" minlength="10" required />

        <input #Password="ngModel" name="Password" type="Password" placeholder="گذرواژه" class="input"
          [(ngModel)]="registerModel.Password" minlength="6" required />

        <input class="input" id="CnfrmPasswordId" type="Password" placeholder="تایید گذرواژه (required)" required
          appEqualControl="Password" ngModel name="CnfmPasswordVar" appForbiddenName='bob' #CnfmPasswordVar="ngModel" />

        <button class="btn" type="submit" [disabled]="!signUpForm.valid">ثبت نام</button>
      </form>

    </div>
    <!-- Sign In -->
    <div class="container__form container--signin">
      <form class="form" id="form2" (ngSubmit)='login()' #signInForm="ngForm">
        <h2 class="form__title">ورود به حساب کاربری</h2>
        <input #Username="ngModel" name="Username" type="text" placeholder="نام کاربری" class="input"
          [(ngModel)]="loginModel.Username" required />
        <input #Password="ngModel" name="Password" type="Password" placeholder="گذرواژه" class="input"
          [(ngModel)]="loginModel.Password" required />
        <!-- <a href="#" class="link">فراموشی گذرواژه ؟</a> -->
        <button class="btn" type="submit" [disabled]='signInForm.invalid'>ورود به حساب کاربری</button>
      </form>
    </div>

    <!-- Overlay -->
    <div class="container__overlay">
      <div class="overlay">
        <div class="overlay__panel overlay--left">
          <button class="btn" id="signIn" (click)="setMode('signIn')">ورود به حساب کاربری</button>
        </div>
        <div class="overlay__panel overlay--right">
          <button class="btn" id="signUp" (click)="setMode('signUp')">ثبت نام</button>
        </div>
      </div>
    </div>
  </div>
</div>
