/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

:root {
  /* COLORS */

  /* RADII */
  --button-radius: 0.7rem;
}

@font-face {
  font-family: iran-sans;
  src: url('assets/Iranian\ Sans.ttf') format('opentype')
}

@font-face {
  font-family: "IRANSansWeb";
  src: url("//db.onlinewebfonts.com/t/002254488ce1877d55ad3693e527ad1e.eot");
  src: url("//db.onlinewebfonts.com/t/002254488ce1877d55ad3693e527ad1e.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/002254488ce1877d55ad3693e527ad1e.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/002254488ce1877d55ad3693e527ad1e.woff") format("woff"), url("//db.onlinewebfonts.com/t/002254488ce1877d55ad3693e527ad1e.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/002254488ce1877d55ad3693e527ad1e.svg#IRANSansWeb") format("svg");
}

@import url('https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir.css');
// Override the typography in the core CSS.
@import './app/theme/custom-typography.scss';
@include mat-core($custom-typography);


* {
  margin: 0;
}

body,
input,
a,
p,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Vazir';
  direction: rtl;
}

html,
body {
  height: 100%;
}
